<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Corona Admin</title>
<!-- plugins:css -->
<link rel="stylesheet"
	th:href="@{/admins/assets/vendors/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet"
	th:href="@{/admins/assets/vendors/css/vendor.bundle.base.css}">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet"
	th:href="@{/admins/assets/vendors/jvectormap/jquery-jvectormap.css}">
<link rel="stylesheet"
	th:href="@{/admins/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
<link rel="stylesheet"
	th:href="@{/admins/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
<link rel="stylesheet"
	th:href="@{/admins/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<base href="/" />
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" th:href="@{/admins/assets/css/style.css}">
<!-- End layout styles -->
<link rel="shortcut icon" th:href="@{/admins/assets/images/favicon.png}" />
</head>

<body>
	<div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="admin/fragments/nav::nav"></nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_navbar.html -->
          <nav th:replace="admin/fragments/header::header"></nav>
          <!-- partial -->
          <div class="main-panel">
            <div layout:fragment="content"></div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer th:replace="admin/fragments/footer::footer"></footer>
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script th:src="@{/admins/assets/vendors/js/vendor.bundle.base.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script th:src="@{/admins/assets/vendors/chart.js/Chart.min.js}"></script>
	<script
		th:src="@{/admins/assets/vendors/progressbar.js/progressbar.min.js}"></script>
	<script
		th:src="@{/admins/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
	<script
		th:src="@{/admins/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<script
		th:src="@{/admins/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script th:src="@{/admins/assets/js/off-canvas.js}"></script>
	<script th:src="@{/admins/assets/js/hoverable-collapse.js}"></script>
	<script th:src="@{/admins/assets/js/misc.js}"></script>
	<script th:src="@{/admins/assets/js/settings.js}"></script>
	<script th:src="@{/admins/assets/js/todolist.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<script th:src="@{/admins/assets/js/dashboard.js}"></script>
	<!-- End custom js for this page -->
</body>

</html>