
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">
<head></head>
<body>
	<div class="col-12 grid-margin stretch-card" layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title"
					th:text="${supplier.isEdit ?'CẬP NHẬP NHÀ PHÂN PHỐI':'THÊM NHÀ PHÂN PHỐI'}"></h4>
				<p class="card-description">Vui lòng nhập đầy đủ các thông tin
					sau</p>
				<div th:if="${message != null}" class="alert alert-success" role="alert">
                <i>[[${message}]]</i>
            	</div>
				<form th:action="@{/admin/suppliers/saveOrUpdate}" method="post"
					th:object="${supplier}" class="forms-sample">
					<input type="hidden" th:field="*{isEdit}" />
					<div class="form-group" th:if="${supplier.isEdit}">
						<label for="id">Mã Nhà Phân phối</label> <input type="text"
							class="form-control" th:field="*{id}"
							placeholder="Nhập Mã Nhà Phân phối" readonly>
					</div>
					<div class="form-group">
						<label for="name">Tên Nhà Phân phối</label> <input type="text"
							class="form-control" th:field="*{name}" id="name"
							aria-describedby="hName" placeholder="Nhập tên Nhà Phân phối">
						<small th:if="${#fields.hasErrors('name')}" id="hName"
							class="text-muted">Tên Nhà Phân phối không được để trống</small>
					</div>
					<div class="form-group">
					  <label for="email">Email</label>
					  <input type="text" name="email" id="email" th:field="*{email}" class="form-control" placeholder="Nhập Email nhà Phân phối" aria-describedby="hEmail">
					  <small th:if="${#fields.hasErrors('email')}" id="hEmail" th:errors="*{email}" class="text-muted"></small>
					</div>
					<div class="form-group">
					  <label for="address">Địa chỉ</label>
					  <input type="text" name="address" id="address" th:field="*{address}" class="form-control" placeholder="Nhập địa chỉ" aria-describedby="hAddress">
					  <small th:if="${#fields.hasErrors('address')}" id="hAddress" class="text-muted">Địa chỉ không được để trống</small>
					</div>
					<div class="form-group">
					  <label for="phone">Số điện thoại</label>
					  <input type="text" name="phone" id="phone" th:field="*{phone}" class="form-control" placeholder="Nhập số điện thoại" aria-describedby="hPhone">
					  <small th:if="${#fields.hasErrors('phone')}" id="hPhone" class="text-muted">Số điện thoại không được để trống</small>
					</div>

					<button type="submit" class="btn btn-outline-primary btn-icon-text" th:text="${supplier.isEdit?'Cập nhập':'Thêm mới'}">
						<i class="mdi mdi-file-check btn-icon-prepend"></i> Lưu
					</button>
					<button type="button" class="btn btn-outline-warning btn-icon-text">
						<i class="mdi mdi-reload btn-icon-prepend"></i> Làm mới
					</button>
					<a class="btn btn-outline-info btn-icon-text"
						th:href="@{/admin/suppliers}"><i
						class="mdi mdi-printer btn-icon-append"></i> Danh sách loại sản
						phẩm </a>

				</form>
			</div>
		</div>
	</div>
</body>
</html>