<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/clientLayout.html}">

<head>
</head>

<body>
	<div class="app-content" layout:fragment="content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a th:href="@{/}">Trang Chủ</a></li>
                                    <li class="is-marked">

                                        <a th:href="@{/wishList}">Yêu Thích</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">DANH SÁCH YÊU THÍCH</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <!--====== Wishlist Product ======-->
                                <div class="w-r u-s-m-b-30" th:each="item: ${session.wishlist}">
                                    <div class="w-r__container">
                                        <div class="w-r__wrap-1">
                                            <div class="w-r__img-wrap">

                                                <img class="u-img-fluid" th:src="@{'/images/' + ${item.image}}" alt=""></div>
                                            <div class="w-r__info">

                                                <span class="w-r__name">

                                                    <a th:href="@{'/products/detail/'+${item.productID}}" th:text="${item.name}">Yellow Wireless Headphone</a></span>

                                                <span class="w-r__category">

                                                    <a th:href="@{'/products/category/'+${item.cateID}}">Electronics</a></span>

                                                <span class="w-r__price" th:if="${item.promotionPrice == null}" th:text="${item.price}">$125.00

                                                    <span class="w-r__discount" th:if="${item.promotionPrice != null}" th:text="${item.price}">$160.00</span></span>
                                             </div>
                                        </div>
                                        <div class="w-r__wrap-2">

                                            <a class="w-r__link btn--e-brand-b-2"  data-modal="modal" data-modal-id="#add-to-cart">THÊM VÀO GIỎ HÀNG</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2" th:href="@{'/products/detail/'+${item.productID}}">XEM</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2" th:href="@{'/wishList/remove/'+${item.productID}}">XÓA</a></div>
                                    </div>
                                </div>
                                <!--====== End - Wishlist Product ======-->

                            </div>
                            <div class="col-lg-12">
                                <div class="route-box">
                                    <div class="route-box__g">

                                        <a class="route-box__link" href="shop-side-version-2.html"><i class="fas fa-long-arrow-alt-left"></i>

                                            <span>CONTINUE SHOPPING</span></a></div>
                                    <div class="route-box__g">

                                        <a class="route-box__link" href="wishlist.html"><i class="fas fa-trash"></i>

                                            <span>CLEAR WISHLIST</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
</body>
</html>