<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/clientLayout.html}">

<head>
</head>

<body>
	<div class="app-content" layout:fragment="content">

		<!--====== Section 1 ======-->
		<div class="u-s-p-y-60">

			<!--====== Section Content ======-->
			<div class="section__content">
				<div class="container">
					<div class="breadcrumb">
						<div class="breadcrumb__wrap">
							<ul class="breadcrumb__list">
								<li class="has-separator"><a th:href="@{/}">Trang chủ</a></li>
								<li class="is-marked"><a th:href="@{/}">Đăng ký</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--====== End - Section 1 ======-->


		<!--====== Section 2 ======-->
		<div class="u-s-p-b-60">

			<!--====== Section Intro ======-->
			<div class="section__intro u-s-m-b-60">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section__text-wrap">
								<h1 class="section__heading u-c-secondary">TẠO TÀI KHOẢN</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--====== End - Section Intro ======-->


			<!--====== Section Content ======-->
			<div class="section__content">
				<div class="container">
					<div class="row row--center">
						<div class="col-lg-6 col-md-8 u-s-m-b-30">
							<div class="l-f-o">
								<div class="l-f-o__pad-box">
									<h1 class="gl-h1">THÔNG TIN NGƯỜI DÙNG</h1>
									<form class="l-f-o__form" th:action="@{/register}"
										method="post" th:object="${user}">
										
										<div class="gl-s-api">

											<div class="u-s-m-b-15">

												<button class="gl-s-api__btn gl-s-api__btn--fb"
													type="button">
													<i class="fab fa-facebook-f"></i> <span>Đăng ký với
														tài khoản Facebook</span>
												</button>
											</div>
											<div class="u-s-m-b-30">

												<button class="gl-s-api__btn gl-s-api__btn--gplus"
													type="button">
													<i class="fab fa-google"></i> <span>Đăng ký với tài
														khoản Google</span>
												</button>
											</div>
										</div>
										<div th:if="${message != null}" class="alert alert-success"
											role="alert">
											<i>[[${message}]]</i>
										</div>
										<div class="u-s-m-b-30">
											<label class="gl-label" for="reg-name">HỌ TÊN *</label> <input
												class="input-text input-text--primary-style"
												th:field="*{name}" type="text" id="reg-name"
												placeholder="Nhập Họ Tên" aria-describedby="hName">
											<small th:if="${#fields.hasErrors('name')}" id="hName"
												class="text-muted">Họ tên không được để trống</small>
										</div>

										<div class="u-s-m-b-30">
											<label class="gl-label" for="reg-email">E-MAIL *</label> <input
												class="input-text input-text--primary-style" type="text"
												th:field="*{email}" id="reg-email" placeholder="Nhập Email"
												aria-describedby="hEmail"> <small
												th:if="${#fields.hasErrors('email')}" id="hEmail"
												class="text-muted" th:errors="*{email}"></small>
										</div>
										<div class="u-s-m-b-30">
											<label class="gl-label" for="reg-username">TÀI KHOẢN
												*</label> <input class="input-text input-text--primary-style"
												type="text" th:field="*{userName}" id="reg-username"
												placeholder="Nhập Tài Khoản" aria-describedby="hUserName">
											<small th:if="${#fields.hasErrors('userName')}"
												id="hUserName" class="text-muted">Tài khoản không
												được để trống</small>
										</div>
										<div class="u-s-m-b-30">
											<label class="gl-label" for="reg-password">MẬT KHẨU *</label>
											<input class="input-text input-text--primary-style"
												th:field="*{password}" type="password" id="reg-password"
												placeholder="Nhập Mật Khẩu" aria-describedby="hPassword">
											<small th:if="${#fields.hasErrors('password')}"
												id="hPassword" class="text-muted" th:errors="*{password}"></small>
										</div>
										<div class="u-s-m-b-30">
											<label class="gl-label" for="reg-phone">SỐ ĐIỆN THOẠI
												*</label> <input class="input-text input-text--primary-style"
												type="text" th:field="*{phone}" id="reg-phone"
												placeholder="Nhập Số Điện Thoại" aria-describedby="hPhone">
											<small th:if="${#fields.hasErrors('phone')}" id="hPhone"
												class="text-muted" th:errors="*{phone}">Địa chỉ
												không được để trống</small>
										</div>
										<div class="u-s-m-b-30">
											<label class="gl-label" for="reg-address">ĐỊA CHỈ *</label> <input
												class="input-text input-text--primary-style" type="text"
												th:field="*{address}" id="reg-address"
												placeholder="Nhập Địa Chỉ" aria-describedby="hAddress">
											<small th:if="${#fields.hasErrors('address')}" id="hAddress"
												class="text-muted">Địa chỉ không được để trống</small>
										</div>
										<div class="u-s-m-b-15">
											<button class="btn btn--e-transparent-brand-b-2"
												type="submit">TẠO TÀI KHOẢN</button>
										</div>
										<a class="gl-link" th:href="@{/login}">Trở lại trang Đăng
											Nhập</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--====== End - Section Content ======-->
		</div>
		<!--====== End - Section 2 ======-->
	</div>
</body>

</html>