<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/account/clientAccountLayout.html}">

<head>
</head>

<body>
	<div class="col-lg-9 col-md-12" layout:fragment="content">
		<div th:if="${message != null}" class="alert alert-success"
			role="alert">
			<i>[[${message}]]</i>
		</div>

		<div
			class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
			<div class="dash__pad-2">
				<h1 class="dash__h1 u-s-m-b-14">Thay đổi mật khẩu</h1>
				<div class="dash__link dash__link--secondary u-s-m-b-30">

					<a data-modal="modal" data-modal-id="#dash-newsletter">Đăng Ký
						để nhận bản tin</a>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form class="dash-edit-p" th:action="@{/account/changePassword}"
							method="post" th:object="${user}">
							<div class="gl-inline">
								<div class="u-s-m-b-30">
									<label class="gl-label" for="reg-oldPassword">MẬT KHẨU
										CŨ *</label> <input class="input-text input-text--primary-style"
										type="password" th:field="*{oldPassword}" id="reg-oldPassword"
										placeholder="Nhập Mật khẩu cũ" aria-describedby="holdPassword">
									<small th:if="${#fields.hasErrors('oldPassword')}"
										th:errors="*{oldPassword}" id="holdPassword" class="text-muted">Help
										text</small>
								</div>
							</div>
							<div class="gl-inline">
								<div class="u-s-m-b-30">
									<label class="gl-label" for="reg-newPassword">MẬT KHẨU MỚI *</label>
									<input class="input-text input-text--primary-style" type="password"
										th:field="*{newPassword}" id="reg-newPassword"
										placeholder="Nhập mật khẩu mới" aria-describedby="hPhon">
									<small th:if="${#fields.hasErrors('newPassword')}"
										th:errors="*{newPassword}" id="hPhon" class="text-muted">Help
										text</small>
								</div>
							</div>
							<div class="gl-inline">
								<div class="u-s-m-b-30">
									<label class="gl-label" for="reg-confirmPassword"> XÁC NHẬN MẬT KHẨU*</label> <input
										class="input-text input-text--primary-style" type="password"
										th:field="*{confirmPassword}" id="reg-confirmPassword"
										placeholder="Nhập lại mật khẩu mới" aria-describedby="hconfirmPassword">
									<small th:if="${#fields.hasErrors('confirmPassword')}"
										th:errors="*{confirmPassword}" id="hconfirmPassword" class="text-muted">Help
										text</small>
								</div>
							</div>
							
							<button class="btn btn--e-brand-b-2" type="submit">LƯU</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>